
<hr />
<div style="margin:auto; text-align: center;">
    <h2 style=" width: 750px; margin: auto; color: #37c77f;">Помош за компаниите и клиентите</h2>
</div>

<hr />

<div style=" margin: auto; margin-top: 100px; margin-bottom: 100px; width: 750px; text-align: center; font-size: 22px;">
    <div style="margin-bottom: 25px;">
        <button type="button" class="btn btn-outline-dark">
            @Html.ActionLink("Како да купам билет?", "ZaKlienti", null,new { target = "_blank" })
        </button>
       
    </div>
    <div>
     <button type="button" class="btn btn-outline-dark">
           @Html.ActionLink("Како да ја регистрирате Вашата компанија на овој веб сајт?", "ZaKompanii",null, new { target = "_blank" })
     </button>
       
    </div>
</div>