

@{
    ViewBag.Title = "ZaKompanii";
}
<style>
    #allContent img {
        width: 550px;
        height: 350px;
    }
    h6 {
        color: #37c77f;
    }
</style>
<hr />
<div style="margin:auto; text-align: center;">
    <h2 style=" width: 750px; margin: auto; color: #37c77f;">Како да ја регистрирам мојата автобуска компанија на овој веб сајт?</h2>
</div>

<hr />

<div id="allContent" style=" padding-left: 25px; padding-right: 25px;">
    <h6>Чекор 1:</h6>
    <div style=" display: flex; justify-content: space-evenly; height: 400px;">
        <p style="margin-top: 123px; width: 550px; margin-right: 58px; margin-left: -821px; margin-bottom: 1rem; ">
            На почетната страна во горниот десен агол изберете <span style="font-style:italic">Регистрирај се</span> како на Слика 1.
        </p>

        <figure style=" margin: 4px -796px 1rem;">
            <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b1.png?raw=true" height: 355px;" />
            <figcaption style="text-align: center;">Слика 1</figcaption>
        </figure>
    </div>
    <hr />
    <h6>Чекори 2 и 3:</h6>
    <p style="text-align: center; margin-top: 24px; margin-bottom: 2rem;">
        Следно што треба да направите е да ги пополните податоците кои се бараат на Слика 2, односно електронска адреса (email) на компанијата и лозинка и
        кликнете на копчето <span style="font-style:italic">Регистрирај се</span>. Потоа ќе се отвори нов прозорец како на Слика 3, каде треба да
        ја внесете електронска адреса (email) на компанијата и да се изберете улога <span style="font-style: italic;">Company</span>.
    </p>
    <div style=" display: flex; justify-content: space-evenly;">
        <div style="display: flex; justify-content: space-evenly;">
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b2.png?raw=true" />
                <figcaption style="text-align: center">Слика 2</figcaption>
            </figure>
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b3.png?raw=true" />
                <figcaption style="text-align: center">Слика 3</figcaption>
            </figure>
        </div>

    </div>
    <hr />
    <h6>Чекор 4:</h6>
    <div style=" display: flex; justify-content: space-evenly; height: 400px;">
        <p style="margin-top: 123px; width: 550px; margin-right: 58px; margin-left: -821px; margin-bottom: 1rem;">
            По успешната регистрација, следува најава на веб сајтот со претходните информации кои ги искористивте за најава.
        </p>
        <figure style="margin: 4px -796px 1rem;">
            <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b4.png?raw=true" />
            <figcaption style="text-align: center">Слика 4</figcaption>
        </figure>
    </div>
    <hr />
    <h6>Чекори 5 и 6:</h6>
    <p style="text-align: center; margin-top: 24px; margin-bottom: 2rem;">
        Откако се најавивте, ќе бидете упатени кон почетната страна како на Слика 5 и одберете го копчето
        <span style="font-style:italic">СИТЕ КОМПАИИ ТУКА</span>. Тоа ќе ви ги прикаже сите компании кои досега се регистрирале на нашиот веб сајт , но
        и под насловот <span style="font-style:italic">КОМПАНИИ</span> ќе се појави линк: <span style="font-style:italic">Додади ја својата компанија</span>
        , како на Слика 6, на кој треба да кликнете.
    </p>
    <div style=" display: flex; justify-content: space-evenly;">
        <div style="display: flex; justify-content: space-evenly;">
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b5.png?raw=true" />
                <figcaption style="text-align: center">Слика 5</figcaption>
            </figure>
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b6.png?raw=true" />
                <figcaption style="text-align: center">Слика 6</figcaption>
            </figure>
        </div>

    </div>
    <hr />
    <h6>Чекор 7:</h6>
    <div style=" display: flex; justify-content: space-evenly; height: 400px;">
        <p style="margin-top: 123px; width: 550px; margin-right: 58px; margin-left: -821px; margin-bottom: 1rem;">
            На Слика 7 е прикажан резултатот од претходно избраниот линк и треба да ги пополните информациите за Вашата компанија.
        </p>
        <figure style="margin: 4px -796px 1rem;">
            <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b7.png?raw=true" />
            <figcaption style="text-align: center">Слика 7</figcaption>
        </figure>
    </div>
    <hr />
    <h6>Чекори 8 и 9:</h6>
    <p style="text-align: center; margin-top: 24px; margin-bottom: 2rem;">
        Доколку успешно сте ја регистрирале Вашата компанија во претходните чекори, таа треба да се појави во листата на сите компании, како
        што е случај со Test Company 2 - компанијата на Слика 8. Под оваа листа се наоѓа секцијата на релации кои ги нуди веб сајтот, т.е. сите
        релации на сите компании. Слично како чекор 6 и тука под насловот <span style="font-style:italic">Релации</span> има линк:
        <span style="font-style:italic">Додади нова релација</span>, како на Слика 9, на кој треба да кликнете.
    </p>
    <div style=" display: flex; justify-content: space-evenly;">
        <div style="display: flex; justify-content: space-evenly;">
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b8.png?raw=true" />
                <figcaption style="text-align: center">Слика 8</figcaption>
            </figure>
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b9.png?raw=trueng" />
                <figcaption style="text-align: center">Слика 9</figcaption>
            </figure>
        </div>

    </div>
    <hr />
    <h6>Чекор 10:</h6>
    <div style=" display: flex; justify-content: space-evenly; height: 400px;">
        <p style="margin-top: 123px; width: 550px; margin-right: 58px; margin-left: -821px; margin-bottom: 1rem;">
            На Слика 10 е прикажан резултатот од претходно избраниот линк и треба да ги пополните информациите за новата релација која сакате да
            ја понудите на клиентите.
            <figure style="margin: 4px -796px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b10.png?raw=true" />
                <figcaption style="text-align: center">Слика 10</figcaption>
            </figure>
    </div>
    <hr />

    <h6>Чекори 11 и 12:</h6>
    <p style="text-align: center; margin-top: 24px; margin-bottom: 2rem;">
        Доколку ги зачувате информациите за новата релација, ќе се отвори нова страна на која ги имате уште еднаш деталите (може да ги изменете)
        како на Слика 11. Од голема важност е да го запаметите <span style="font-style: italic; color: lightgreen;">идентификацискиот број</span>,
        заради точноста на релаците кои ќе ги нуди Вашата компанија. Потоа кликнете на копчето <span style="font-style: italic;">Избери компанија</span>
        за да ја добиете листата на компании како на Слика 12. Во горниот десен агол од листата, во полето <span style="font-style: italic;">Search: </span>
        може да го пребарате името на Вашата компанија. Изберете го линкот <span style="font-style: italic;">Додади релација</span>.
    </p>
    <div style=" display: flex; justify-content: space-evenly;">
        <div style="display: flex; justify-content: space-evenly;">
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b15.png?raw=true" />
                <figcaption style="text-align: center">Слика 11</figcaption>
            </figure>
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b11.png?raw=true" />
                <figcaption style="text-align: center">Слика 12</figcaption>
            </figure>
        </div>

    </div>
    <hr />
    <h6>Чекор 13:</h6>
    <div style=" display: flex; justify-content: space-evenly; height: 400px;">
        <p style="margin-top: 123px; width: 550px; margin-right: 58px; margin-left: -821px; margin-bottom: 1rem;">
            На Слика 13 е прикажан резултатот од претходно избраниот линк и треба да ја изберете релацијата која претходно сте ја внесле, според
            идентификацискиот број и кликнете на копчето <span style="font-style: italic;">Зачувај</span>.
            <figure style="margin: 4px -796px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b12.png?raw=true" />
                <figcaption style="text-align: center">Слика 13</figcaption>
            </figure>
    </div>
    <hr />


    <h6>Чекори 14 и 15:</h6>
    <p style="text-align: center; margin-top: 24px; margin-bottom: 2rem;">
        Ако успешно сте ги завршиле претходните чекори, новата релација би требало да ја имате наведена во деталите за Вашата компанија на Слика 14.
        Истата е прикажана во форма на копче и доколку се кликне на неа се добива можност клиентот да купи билет за таа релација како на Слика 15.
    </p>
    <div style=" display: flex; justify-content: space-evenly;">
        <div style="display: flex; justify-content: space-evenly;">
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b14.png?raw=true" />
                <figcaption style="text-align: center">Слика 14</figcaption>
            </figure>
            <figure style="margin: 1px 45px 1rem;">
                <img src="https://github.com/elenakeckaroska/ARSM/blob/master/ARSM%20-%20Avtobusi%20R.S.Makedonija/ARSM%20-%20Avtobusi%20R.S.Makedonija/Content/Images/b16.png?raw=true" />
                <figcaption style="text-align: center">Слика 15</figcaption>
            </figure>
        </div>

    </div>
    <hr />






    <p style="margin: auto; text-align: center;">Ви благодариме што избравте да соработувате со нас!</p>
</div>

